* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* header styles */
.container{
    background: rgba(255, 144, 14, 0.1);
    padding:50px 300px 85px 320px;
}

.navbar {
    display: flex;
    justify-content: space-between;

}

.nav-title {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
}

.nav-list ul {
    display: flex;
}

.nav-list li {
    list-style: none;
    padding: 20px;
}

.nav-list li a {
    text-decoration: none;
    color: #424242;
}

/* brand new styles */

.brand-new-section {
    text-align: center;
    justify-content: center;
    margin-top:100px;
}

.brand-title {
    font-weight: 700;
    font-size: 64px;
    color: #131313;
}

.brand-description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}

.btn-primary {
    width: 180px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 8px;
    padding: 10px;
    border: none;
    margin-top: 30px;

}
/* banner styles */

.banner img {
    width: 862px;
    height: 450px;
    margin-top:50px;
    margin-bottom: 45px;
}