* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* header styles */
.container {
    background: rgba(255, 144, 14, 0.1);
    padding: 50px 120px 25px 140px;
}

/* .container-2 {
    background: #FFFFFF;
    padding: 50px 300px 85px 320px;
} */

.btn-primary {
    width: 150px;
    height: 55px;
    font-weight: 600;
    font-size: 18px;
    padding: 15px;
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 8px;
    border: none;
    margin-top: 30px;
}

.btn-secondary {
    position: absolute;
    width: 200px;
    height: 80px;
    padding: 20px;
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 8px;
    border: none;
    margin: -210px 0 0 590px;
}

.second-button {
    font-weight: 500;
    font-size: 25px;
}

.navbar {
    display: flex;
    justify-content: space-between;

}

.nav-title {
    color: #131313;
    font-weight: 700;
    font-size: 26px;
}

.nav-list ul {
    display: flex;
}

.nav-list li {
    list-style: none;
    padding: 20px;
}

.nav-list li a {
    text-decoration: none;
    color: #424242;
}

/* brand new styles */

.brand-new-section {
    text-align: center;
    justify-content: center;
    margin-top: 100px;
}

.brand-title {
    font-weight: 700;
    font-size: 40px;
    color: #131313;
}

.brand-description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}

/* banner styles */

.banner img {
    width: 1240px;
    height: 720px;
    margin-top: 50px;
    margin-bottom: 45px;
}

/* features styles  */
.features-section {
    margin-top: 85px;
}

.features {
    display: flex;
    justify-content: center;
    align-items: center;


}

.features-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 24px;
    margin-left: 50px;

}

.features-list {
    margin-left: 50px;
}

.features-title {
    font-weight: 500;
    font-size: 35px;
    color: #727272;
}

.bold {
    font-weight: 700;
    color: #131313
}

.yellow {
    color: #FF900E;
}

.features-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-top: 20px;
}

/* loving features styles  */
.loving-features-container {
    display: flex;
    padding: 85px 120px 50px 120px;
}

.loving-features-info{
    margin-top: 120px;
    margin-left: 20px;
}
.loving-features-title {
    font-weight: 700;
    font-size: 35px;
    color: #131313;
    margin-bottom: 20px; 
    border-left: 3px solid #FF900E;
}

.loving-features-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 25px;
}

.loving-features-common-items {
    width: 400px;
    height: 150px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 25px;
}

.loving-features-common-title {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}

.loving-features-common-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

/* facts styles  */
.facts {
    margin-top: 35px;
    padding: 0px 50px 20px 68px;
}

.facts-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 15px;
}

.facts-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 15px;
}

.achievements-details {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.award {
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 180px;
    height: 180px;
    padding-top: 40px;
    transition: width 2s linear, transform 2s;

}
.award:hover{
    width:200px;
    transform:rotate(360deg);
    background-color:antiquewhite;
    border:2px dashed rosybrown;
}

.award-digit {
    font-weight: 600;
    font-size: 30px;
    color: #424242;
}

.award-description {
    font-weight: 600;
    font-size: 18px;
    color: #727272;
}
/* about styles  */
.about-info{
    display: flex;
    align-items: center;
    padding:85px 140px 60px 140px;
}
.about-title{
    font-weight: 700;
    font-size: 25px;
    color: #131313;
    margin-bottom: 20px; 
}
.span-special{
    color: brown;

}
.about-description{
    font-weight: 400;
    font-size: 16px;
    color:#727272;
}
.about-info-image img{
    /* padding-left: 20px; */
    margin-left: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.10);
    transition: width 5s linear, height 5s;
}
.about-info-image img:hover{
    width: 600px;
    height: 400px;
}
/* sponsor styles  */

.sponsor {
    margin-top: 100px;
}

.sponsor-details {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sponsor-name {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.sponsor-name img {
    width: 100px;
    height: 40px;
    padding: 20px 95px 85px 95px;
}

.footer {
    display: flex;
    justify-content: space-around;
    background: #FFF4E7;
    border-radius: 8px;
    margin: 120px 120px 150px 120px;
    height: 100px;
}
.footer-description{
    padding-top:40px;
}

/* 
@media only screen and (max-width:576px) {
    .navbar{
        flex-direction: column;
    }
    .nav-list ul{

        
    }
    .brand-new-section{
        flex-direction: column;
        padding: 0;
    }
    .banner img{
        width: 100%;
    }
    .features{
        flex-direction: column;
        justify-content: flex-start;
        padding: 0;
    }
    .features-image{
        padding:0 120px 0 120px;
    }
    .loving-features-container{
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
  } */